#main {
	width: 100%;
	height: 95vh;
	overflow-x: hidden;
	position: absolute;
}



.posts {
	position: fixed;
	width: calc(4 * 100%);
	height: 70vh;
	margin-top: 5%;
	display: inline-block;
	left: 0;
	transition: left 1s 1s;
}



.posts div {
	width: calc(90% / 4);
	height: 90%;
	margin-left: calc(10% / 8);
	margin-right: calc(10% / 8);
	background-color: #F0F0F0;
	float: left;
	text-align: center;
	font-size: 10vw;
}



.moving {
	-webkit-animation: shadow 4s; /* Chrome, Safari, Opera */
	animation: shadow 4s;
}



@-webkit-keyframes shadow {
    50% {
    	width: calc(90% / 4);
		height: 89%;
		-webkit-box-shadow: 10px 10px 10px #888888;
	   	-moz-box-shadow: 10px 10px 5px #888888;
    	    box-shadow: 15px 15px 20px #888888;
    }
}



#post-list {
	width: 90%;
	height: 10vh;
	margin-left: 5%;
	margin-right: 5%;
}


#post-list button {
	margin-left: calc(100% / 7);
	text-decoration: none;
}
